<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="SvnWorkingFolder" value=""/>
        <add key="TargetBackupFolder" value=""/>
        <add key="TargetBaseFileName" value="svnbackup"/>
        <add key="NumberOfFilesToKeep" value="7"/>
        <add key="ExcludeIgnoreOnCommit" value="false"/>
        <add key="ExcludeIgnoredFiles" value="true"/>
        <add key="ExcludeUnversionedFiles" value="true"/>
        <add key="ExcludeUnversionedExceptions" value="*.cs, *.vb"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
